.product-filter > button {
  padding: .9375rem;
  background-color: #86eecb;
  font-size: .875rem;
}
.product-filter .filter-list  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}
.product-filter .filter-list li {
  transform: translateX(-500%);
  transition: 0.5s transform;
}
.product-filter .filter-list.active li{
  transform: translateX(0);
}
.product-filter .filter-list li button {
  font-size: 1.125rem;
  padding: .625rem;
  color: #111;
  border: none;
}
.product-filter .filter-list li button.active {
  background-color: aqua;

  background-color: #86eecb;
}
